@model IEnumerable<CapitalSoftWebSite.Models.TeamMember>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Image.ImageMimeType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Language.Lang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Firstname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lastname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Position)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Image.ImageMimeType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Language.Lang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Firstname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lastname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Position)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TeamMemberID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TeamMemberID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TeamMemberID })
        </td>
    </tr>
}

</table>
