
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/admin/admin-style.css" />
    <link rel="stylesheet" href="~/Content/bootstrap.3.0.3.min.css" />
    <script src="~/Scripts/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/admin/pages.css" />
</head>
<body>

    <div id="wrapper" class="active">

        <div id="sidebar-wrapper">
            <ul id="sidebar_menu" class="sidebar-nav">
                <li class="sidebar-brand">
                    <a id="menu-toggle">
                        Admin
                        <span id="main_icon" class="glyphicon glyphicon-align-justify"></span>
                    </a>
                </li>
            </ul>
            <ul class="sidebar-nav" id="sidebar">
                <li>
                    <a href="@Url.Action("Index", "TeamMembers")">
                        Team member
                        <span class="sub_icon glyphicon glyphicon glyphicon-user"></span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Technologies")">
                        Technology
                        <span class="sub_icon glyphicon glyphicon-link"></span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Projects")">
                        Project
                        <span class="sub_icon glyphicon glyphicon-link"></span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Contacts")">
                        Contact
                        <span class="sub_icon glyphicon glyphicon-link"></span>
                    </a>
                </li>
            </ul>
        </div>

        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="col-lg-12">
                    <div>
                        <p class="well-header lead">
                            Capital Soft
                            <a href="@Url.Action(actionName: "LogOff", controllerName: "Account", routeValues: new { area = ""})">
                                Log out
                                <span class="glyphicon glyphicon-log-out"></span>
                            </a>
                        </p>
                    </div>
                </div>
                <div class="main-content">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>


    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("active");
        });
    </script>



   <style>
       .well-header {
           color: white;
           min-height: 20px;
           padding: 17px;
           margin-bottom: 20px;
           background-color: #09192A;
           border: 1px solid #09192A;
           box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
           border-left: 1px solid #7c7c7c;
       }

           .well-header a {
               color: white;
               font-size: 16px;
               padding-right: 250px;
           }

       .main-content {
           padding: 20px;
       }
   </style>
</body>
</html>
