@using CapitalSoftWebSite.Helpers

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" type="text/css" href="~/Content/font-awesome.css" />
    <link rel="stylesheet" href="~/Content/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato|Raleway|Roboto" rel="stylesheet">
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="fon-top-menu">
            <div class="logo col-md-2 pull-left ">
                <a><img src="~/Content/Images/logo55.png" alt="Logo"></a>
            </div>
            <div class="navbar-header col-md-6">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-collapse fff collapse">
                    <ul class="nav navbar-nav navbnar-right">
                        <li class='@Html.IsActive("Home", "Index")'>@Html.ActionLink(Resources.Resource.Home, "", "")</li>
                        <li class='@Html.IsActive("Services", "Index")'>@Html.ActionLink(Resources.Resource.Services, "Index", "Services")</li>
                        <li class='@Html.IsActive("Portfolio", "Index")'>@Html.ActionLink(Resources.Resource.Portfolio, "Index", "Portfolio")</li>
                        <li class='@Html.IsActive("ContactAs", "Index")'>@Html.ActionLink(Resources.Resource.About, "Index", "ContactAs")</li>
                        <li class='@Html.IsActive("Team", "Index")'>@Html.ActionLink(Resources.Resource.Team, "Index", "Team")</li>
                    </ul>
                </div>
            </div>
            <div class=" social pull-left col-md-2">

                <ul>
                    <a href="">
                        <li class="line-social">
                            <i class="fa fa-facebook-official" aria-hidden="true"></i>
                        </li>
                    </a>
                    <a href="">
                        <li class="line-social line-social-1 ">
                            <i class="fa fa fa-twitter" aria-hidden="true"></i>
                        </li>
                    </a>

                    <a href="">
                        <li class="line-social line-social-1">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </li>
                    </a>
                </ul>


            </div>

            <div class="language col-md-2">
                <ul id="lang">
                    <li class='@Html.IsActive("Home", "SetCulture")'>
                        @Html.ActionLink("eng", "SetCulture", "Home", new { lang = "en" }, null)
                      @*  <a href="@Url.Action("SetCulture", "Home", new { lang = "en"})">eng</a> |*@
                    </li>
                    <li class='@Html.IsActive("Home", "SetCulture")'>
                       @Html.ActionLink("rus", "SetCulture", "Home", new { lang = "ru"}, null)
                        @*<a href="@Url.Action("SetCulture", "Home", new { lang = "ru"})">rus</a> |*@
                    </li>
                    <li class='@Html.IsActive("Home", "SetCulture")'>
                        @Html.ActionLink("arm", "SetCulture", "Home", new { lang = "am"}, null)
                        @*<a href="@Url.Action("SetCulture", "Home", new { lang = "am"})">arm</a>*@
                    </li>
                </ul>
            </div>
        </div>
    </div>

    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


    <div id="modal-container" class="modal fade" tabindex="-1" role="dialog"></div>
    <script>

        $(function () {
            $('body').on('click', '.modal-link', function (e) {
                e.preventDefault();
                $(this).attr('data-target', '#modal-container');
                $(this).attr('data-toggle', 'modal');
            });
            $('body').on('click', '.modal-close-btn', function () {
                $('#modal-container').modal('hide');
            });
            $('#modal-container').on('hidden.bs.modal', function () {
                $(this).removeData('bs.modal');
            });

            $('#CancelModal').on('click', function () {
                return false;
            });
        });
    </script>

    <style>
        ul#menu li a {
            background: none;
            color: #999;
            padding: 5px;
            border-radius: 15px;
            text-decoration: none;
        }

            ul#menu li a.currentMenuItem {
                background-color: black;
                color: white;
            }
    </style>
</body>
</html>
