@model CapitalSoftWebSite.Models.Project

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/Content/bootstrap-multiselect.css" />
<script src="~/Scripts/jquery-1.12.4.min.js"></script>
<script src="~/Scripts/bootstrap-multiselect.js"></script>
<script src="~/Scripts/bootstrap-3.0.3.min.js"></script>
<script src="~/Scripts/script.js"></script>


@using (Html.BeginForm(Html.BeginForm("Edit", "Projects", FormMethod.Post, new { enctype = "multipart/form-data" })))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Project</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ProjectID)

    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            @Html.DropDownList("Lang", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Lang, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @foreach (var elem in Model.Images)
        {
            <div>
                <img src="@Url.Action("GetImage", "Projects", new { elem.ImageID })" width="300" height="300" />
            </div>
            <button name="imgDeleteID" value="@elem.ImageID" formaction=@Url.Action("DeleteImage")>
                <span class="glyphicon glyphicon-remove"></span>
            </button>
        }
    </div>

    <div class="form-group">
        <input type="file" name="files" multiple />
    </div>


    <div>
        <ul>
            @foreach (var elem in Model.Technologies)
            {
                <li>
                    @elem.Name
                    <button name="techDeleteID" value="@elem.TechnologyID" formaction=@Url.Action("DeleteTechnology")>
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </li>
            }
        </ul>
    </div>

    @if (ViewBag.TechnologyID != null)
    {
        <div class="form-group">
            <div class="col-md-10">
                @Html.DropDownList("TechnologyID", null, htmlAttributes: new { @class = "form-control", multiple = "multiple", id = "technology" })
                @Html.ValidationMessageFor(model => model.Technologies, "", new { @class = "text-danger" })
            </div>
        </div>
    }


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

