@model CapitalSoftWebSite.ViewModel.HomePageModel
@{
    /**/

    ViewBag.Title = "Home Page";
}
<section id="portfolio">
    <div>
        <h2>Portfolio</h2>
        @if (Model.Projects != null)
        {
            foreach (var item in Model.Projects)
            {
                <p>@item.Name</p>
                <p>@item.Description</p>
                foreach (var elem in item.Images)
                {
                    <div>
                        <img src="@Url.Action("GetImage", "Home", new { elem.ImageID })" width="300" height="300" />
                    </div>
                }
                <ul>
                    @foreach (var elem in item.Technologies)
                    {
                        <li>@elem.Name</li>
                    }
                </ul>
            }
        }


    </div>
</section>
<section id="team">
    <h2>Team</h2>
    @if (Model.TeamMembers != null)
    {
        foreach (var item in Model.TeamMembers)
        {
            <p>@item.Firstname</p>
            <span>@item.Lastname</span>
            <p>@item.Position</p>
            if (item.Image != null)
            {
                <div>
                    <img src="@Url.Action("GetImage", "Home", new { item.ImageId})" width="300" height="300"  />
                </div>
            }
            <hr />
        }
    }

</section>

<section id="contact">
    <h3>@Resources.Resource.Contact_Us</h3>
    @using (Html.BeginForm("Send", "Home"))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-md-10">
                    @Html.EditorFor(m => m.Contact.Name, new { htmlAttributes = new { placeholder = "Name" } })
                    @Html.ValidationMessageFor(model => model.Contact.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    @Html.EditorFor(m => m.Contact.Phone, new { htmlAttributes = new { placeholder = "Phone " } })
                    @Html.ValidationMessageFor(model => model.Contact.Phone, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    @Html.EditorFor(m => m.Contact.Email, new { htmlAttributes = new { placeholder = "Email" } })
                    @Html.ValidationMessageFor(model => model.Contact.Email, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    @Html.EditorFor(m => m.Contact.Message, new { htmlAttributes = new { placeholder = "Message" } })
                    @Html.ValidationMessageFor(model => model.Contact.Message, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input value="Send" type="submit" class="btn-success" />
                </div>
            </div>
        </div>
    }

</section>
