@model CapitalSoftWebSite.ViewModel.HomePageModel
@{
    /**/

    /**/



    ViewBag.Title = "Home Page";
}
<header>

    <div class="container">
        <div class="capital">
            <h1>Capital Soft</h1>
            <p>Software tailored to your needs</p>
        </div>
    </div>
    <div class="black_section1"></div>
</header>
<div class="white-fon">
    <div class="about-us container" id="about-us">
        <div class="p-margin col-sm-12 col-md-12">
            <p>
                Мы открылись в сентябре 2017 года и уже добились немалых успехов. Завершили ряд проектов, как настольных приложений, так и веб-проектов. Мы занимаемся аутсорсингом, помогая воплощать идеи в жизнь, и наши клиенты могут видеть и наслаждаться использованием продукта. Кроме того,  мы любим выпускать и реализовывать свои собственные идеи и видения. Для всего вышеперечисленного нам нужна команда хороших специалистов, и у нас это есть. Вы можете положиться на них.
                <br />
                <br />
            </p>
        </div>
    </div>
</div>
<div class="black_section2 container"></div>

<div class="a1-fon-1">
    <div class="container work-plan" id="work-plan">
        <div class="inscription-plan-work">
            <h1>СЕРВИСЫ</h1>
            <div class="work-plan-1 web col-sm-12 col-md-4">
                <img src="~/Content/Images/web.png" alt="web">
                <h3>WEB</h3>
                <p>Мы помогаем вашему бизнесу расти, и это не просто слова. Если вам нужен веб-сайт для вашей компании, чтобы люди могли узнать о вашей организации и о ваших услугах больше, мы можем организовать все это. Наша компания обеспечит хороший дизайн, творческие идеи и очень четкий интерфейс.</p>
            </div>
            <div class="work-plan-1 training col-sm-12  col-md-4">
                <img src="~/Content/Images/training.png" alt="web">
                <h3>Training</h3>
                <p>Мы действительно хотим, чтобы все те, кто интересуется ИТ-отраслью, могли стать частью этой сферы. Для этого очень важно организовать регулярные тренинги, чтобы желающие могли определить свою профессию и увидеть все изнутри. Все те, кто обладает большим потенциалом и постоянно стремятся развиваться в своем направлении, смогут найти свое место в нашей команде.</p>
            </div>
            <div class="work-plan-1 col-sm-12  col-md-4">
                <img src="~/Content/Images/app.png" alt="web">
                <h3>Software solutions</h3>
                <p>Любое приложение, которое вам нужно для вашего офиса, для вашего бизнеса, которое  ускоряет процесс работы, контролирует все и не тратит время впустую, мы поможем с этим. После того, как вы сообщите нам, что вам нужно, мы сразу начнем работу над вашим проектом, и вскоре вы увидите на своем компьютере самое то приложение, которое решает многие проблемы и станет неотъемлемой частью вашего бизнеса. Вы получаете то, что вам нужно: крутой дизайн и все необходимые функции.</p>
            </div>
        </div>
    </div>
</div>


<div class="work" id="portfolio">
    @{
        if (Model.Projects != null)
        {
            int i = 0;
            foreach (var elem in Model.Projects)
            {

                    <div class="container wight" id="#work">
                        @if (i % 2 == 0)
                        {
                            <div class="desktop col-md-6 col-sm-6 pull-right">
                                <img src="@Url.Action("GetImage", "Home", new { elem.Images.First().ImageID })" width="100%" alt="">
                            </div>
                        }
                        else
                        {
                            <div class="desktop col-md-6 col-sm-6 pull-left">
                                <img src="@Url.Action("GetImage", "Home", new { elem.Images.First().ImageID })" width="100%" alt="">
                            </div>
                        }
                        <div class="work-info col-md-6 col-sm-6">
                            <h1>@elem.Name</h1>
                            <p>@elem.Description</p>
                            <h1>@Resources.Resource.Technologies</h1>
                            <ul>
                                @if (elem.Technologies != null)
                                {
                                    foreach (var t in elem.Technologies)
                                    {
                                        <li>@t.Name</li>
                                    }
                                }
                            </ul>
                            <div class="line"></div>
                            <div class="container">
                                <button class="btn btn-primary more-btn" data-toggle="modal" data-target="#@elem.ProjectID">
                                    More
                                </button>
                                @{ Html.RenderPartial("More", elem); }

                            </div>
                        </div>
                    </div>
                 ++i;
               }
             }
    }
</div>

<div class="a1-fon">
    <div class="container work-plan" id="#">
        <div class="inscription-plan-work">
            <h1>ЭТАПЫ РАБОТЫ</h1>
            <h2>ПЛАН РАБОТЫ</h2>
            <div class="work-plan-0 col-xl-3 col-sm-6 col-md-3">
                <i class="fa fa-comments" aria-hidden="true"></i>
                <h3>Обсуждение</h3>
                <p>Основа создаваемого приложения? Главные задачи сайта? Целевая аудитория? Какие результаты вы хотите получить с его помощью? Основная тематика? Ответы на эти и другие вопросы определяют то, каким будет наш продукт.</p>
            </div>
            <div class="work-plan-0 col-xl-3 col-sm-6  col-md-3">
                <i class="fa fa-pencil" aria-hidden="true"></i>
                <h3>Создание концепта</h3>
                <p>Где удобнее расположить элементы дизайна сайта? Как сделать, навигацию как можно проще и удобнее? Как достичь максимального юзабилити. Решение этих вопросов приводит к появлению нескольких вариантов дизайна.</p>
            </div>
            <div class="work-plan-0 col-xl-3 col-sm-6  col-md-3">
                <i class="fa fa-code" aria-hidden="true"></i>
                <h3>Разработка</h3>
                <p>Ух! Это самый отчаянный этап. На котором кодят, педалят, програмируют, пилят код, ругаются бывает… В итоге получаем красивый, кроссбраузерный, адаптивный, быстрый удобный сайт.</p>
            </div>
            <div class="work-plan-0 col-xl-3 col-sm-6  col-md-3">
                <i class="fa fa-heart" aria-hidden="true"></i>
                <h3>Довольный клиент</h3>
                <p>Остается только радоваться результату. Клиенту наполнять тематическим контентом ресурс для дальнейшего процветания и продвижения его бизнеса в сети.</p>
            </div>
        </div>
    </div>
</div>

<div class="footer">
    <div class="bottom-fon col-md-12">
        <div class="contact-left contact-fon col-md-12 col-sm-12 col-xs-12">
            <div class="contact">
                <h3>Наши контакты</h3>

                <i class="fa fa-phone" aria-hidden="true"> +37497178384</i><br>
                <i class="fa fa-envelope" aria-hidden="true"> capitalsoft@gmail.com</i><br>
                <i class="fa fa-map-marker" aria-hidden="true"> Artsakh Stepanakert Street Martuni 20/1  <br /> Capital Soft office </i>

            </div>

        </div>

    </div>
</div>

@*<section id="portfolio">
        <div>
            @if (Model.Projects != null)
            {
                <h2>@Resources.Resource.Portfolio</h2>
                foreach (var item in Model.Projects)
                {
                    <p>@item.Name</p>
                    <p>@item.Description</p>
                    foreach (var elem in item.Images)
                    {
                        <div>
                            <img src="@Url.Action("GetImage", "Home", new { elem.ImageID })" width="300" height="300" />
                        </div>
                    }
                    <ul>
                        @if (Model.TeamMembers != null)
                        {
                            foreach (var elem in item.Technologies)
                            {
                                <li>@elem.Name</li>
                            }
                        }
                    </ul>
                }
            }
        </div>
    </section>
    <section id="team">
        @if (Model.TeamMembers != null)
        {
            <h2>@Resources.Resource.Team</h2>
            foreach (var item in Model.TeamMembers)
            {
                <p>@item.Firstname</p>
                <span>@item.Lastname</span>
                <p>@item.Position</p>
                if (item.Image != null)
                {
                    <div>
                        <img src="@Url.Action("GetImage", "Home", new { item.ImageId})" width="300" height="300" />
                    </div>
                }
                <hr />
            }
        }
    </section>*@

@*<section id="contact">
        <h3>@</h3>
        @if (ViewBag.SendMessage != null)
        {
            <p>@</p>
        }
        @using (Html.BeginForm())
        {
            @
            <div class="form-horizontal">
                @
                <div class="form-group">
                    <div class="col-md-10">
                        @
                        @
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        @
                        @
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        @
                        @
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        @
                        @
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input value="@Resources.Resource.Send" type="submit" class="btn-success" />
                    </div>
                </div>
            </div>
        }

    </section>

    <section id="stagesOfWork">
        <div>
            <i class="fa fa-comments" aria-hidden="true"></i>
        </div>
    </section>*@

